<!doctype html>
<html>
  <head>
    <title>Danieli Henkel | Terapias</title>

    <meta charset="utf-8" />

    <!-- SEO -->
    <meta
      name="description"
      content="Sessões de terapias integrativas e bem-estar com Danieli Henkel."
    />
    <meta
      name="keywords"
      content="terapias integrativas, alinhamento energético, bem-estar, Danieli Henkel"
    />
    <meta name="author" content="Danieli Henkel" />

    <!-- Open Graph (Facebook, LinkedIn, etc) -->
    <meta property="og:title" content="Danieli Henkel | Terapias" />
    <meta
      property="og:description"
      content="Sessões de terapias integrativas, alinhamento energético e bem-estar com Danieli Henkel."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.seusite.com/" />
    <meta property="og:image" content="https://www.seusite.com/imagens/og-image.jpg" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Danieli Henkel | Terapias" />
    <meta
      name="twitter:description"
      content="Sessões de terapia holística, alinhamento energético e bem-estar com Danieli Henkel."
    />
    <meta name="twitter:image" content="https://www.seusite.com/imagens/twitter-image.jpg" />

    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png" />
    <link rel="icon" type="image/ico" href="favicon.ico" />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
